/*
  Font Custom - icon webfonts made simple
*/

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom-fe9e0d45fc614c52648a7d4ad4c4d5ec.eot?#iefix") format("embedded-opentype"),
       url("fontcustom-fe9e0d45fc614c52648a7d4ad4c4d5ec.woff") format("woff"),
       url("fontcustom-fe9e0d45fc614c52648a7d4ad4c4d5ec.ttf") format("truetype"),
       url("fontcustom-fe9e0d45fc614c52648a7d4ad4c4d5ec.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
  Bootstrap Overrides
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontcustom";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}

/* keeps button heights with and without icons the same */
.btn [class^="icon-"], .btn [class*=" icon-"] {
  line-height: 0.9em;
}

li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  width: 1.875em;
}

li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}

li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em;
}

/*
  Icon Classes
*/

.icon-arrowhead:before { content: "\f100"; }
.icon-meat-cleaver:before { content: "\f101"; }
.icon-rose:before { content: "\f102"; }
.icon-stopwatch:before { content: "\f103"; }
.icon-paw-heart:before { content: "\f104"; }
.icon-visored-helm:before { content: "\f105"; }
.icon-lotus-flower:before { content: "\f106"; }
.icon-spoutnik:before { content: "\f107"; }
.icon-skull-shield:before { content: "\f108"; }
.icon-square-bottle:before { content: "\f109"; }
.icon-leaf-swirl:before { content: "\f10a"; }
.icon-wolf-head:before { content: "\f10b"; }
.icon-mailed-fist:before { content: "\f10c"; }
.icon-thrown-daggers:before { content: "\f10d"; }
.icon-imp-laugh:before { content: "\f10e"; }
.icon-supersonic-bullet:before { content: "\f10f"; }
.icon-burning-book:before { content: "\f110"; }
.icon-anvil:before { content: "\f111"; }
.icon-tornado:before { content: "\f112"; }
.icon-spiked-shell:before { content: "\f113"; }
.icon-metal-bar:before { content: "\f114"; }
.icon-sharp-crown:before { content: "\f115"; }
.icon-striking-diamonds:before { content: "\f116"; }
.icon-cracked-helm:before { content: "\f117"; }
.icon-meat:before { content: "\f118"; }
.icon-crossed-slashes:before { content: "\f119"; }
.icon-freedom-dove:before { content: "\f11a"; }
.icon-grapes:before { content: "\f11b"; }
.icon-candle-holder:before { content: "\f11c"; }
.icon-dripping-goo:before { content: "\f11d"; }
.icon-boots:before { content: "\f11e"; }
.icon-holy-grail:before { content: "\f11f"; }
.icon-cycle:before { content: "\f120"; }
.icon-aerial-signal:before { content: "\f121"; }
.icon-big-wave:before { content: "\f122"; }
.icon-maze:before { content: "\f123"; }
.icon-scale-mail:before { content: "\f124"; }
.icon-chemical-arrow:before { content: "\f125"; }
.icon-sword-array:before { content: "\f126"; }
.icon-at-sea:before { content: "\f127"; }
.icon-sun:before { content: "\f128"; }
.icon-targeting:before { content: "\f129"; }
.icon-double-dragon:before { content: "\f12a"; }
.icon-rocket:before { content: "\f12b"; }
.icon-sword-spade:before { content: "\f12c"; }
.icon-evil-book:before { content: "\f12d"; }
.icon-witch-flight:before { content: "\f12e"; }
.icon-harpoon-chain:before { content: "\f12f"; }
.icon-stone-axe:before { content: "\f130"; }
.icon-reticule:before { content: "\f131"; }
.icon-energy-arrow:before { content: "\f132"; }
.icon-stone-crafting:before { content: "\f133"; }
.icon-armoured-shell:before { content: "\f134"; }
.icon-black-cat:before { content: "\f135"; }
.icon-lit-candelabra:before { content: "\f136"; }
.icon-salt-shaker:before { content: "\f137"; }
.icon-fishing-hook:before { content: "\f138"; }
.icon-spiral-bottle:before { content: "\f139"; }
.icon-eyeball:before { content: "\f13a"; }
.icon-crenulated-shield:before { content: "\f13b"; }
.icon-diamond-hard:before { content: "\f13c"; }
.icon-carrion:before { content: "\f13d"; }
.icon-ammonite-fossil:before { content: "\f13e"; }
.icon-axe-in-stump:before { content: "\f13f"; }
.icon-hypodermic-test:before { content: "\f140"; }
.icon-dripping-honey:before { content: "\f141"; }
.icon-heart-drop:before { content: "\f142"; }
.icon-fishing-net:before { content: "\f143"; }
.icon-leeching-worm:before { content: "\f144"; }
.icon-pill:before { content: "\f145"; }
.icon-black-flag:before { content: "\f146"; }
.icon-laserburn:before { content: "\f147"; }
.icon-crystal-wand:before { content: "\f148"; }
.icon-nails:before { content: "\f149"; }
.icon-aubergine:before { content: "\f14a"; }
.icon-suits:before { content: "\f14b"; }
.icon-target-dummy:before { content: "\f14c"; }
.icon-cake-slice:before { content: "\f14d"; }
.icon-locked-fortress:before { content: "\f14e"; }
.icon-pocket-bow:before { content: "\f14f"; }
.icon-crossed-axes:before { content: "\f150"; }
.icon-tower-fall:before { content: "\f151"; }
.icon-sonic-screech:before { content: "\f152"; }
.icon-crystal-cluster:before { content: "\f153"; }
.icon-ultrasound:before { content: "\f154"; }
.icon-crown-of-thorns:before { content: "\f155"; }
.icon-fire-bomb:before { content: "\f156"; }
.icon-seated-mouse:before { content: "\f157"; }
.icon-worm-mouth:before { content: "\f158"; }
.icon-gift-of-knowledge:before { content: "\f159"; }
.icon-double-shot:before { content: "\f15a"; }
.icon-cubes:before { content: "\f15b"; }
.icon-beam-wake:before { content: "\f15c"; }
.icon-circuitry:before { content: "\f15d"; }
.icon-fire-ace:before { content: "\f15e"; }
.icon-skid-mark:before { content: "\f15f"; }
.icon-grease-trap:before { content: "\f160"; }
.icon-jeweled-chalice:before { content: "\f161"; }
.icon-lightning-shout:before { content: "\f162"; }
.icon-match-head:before { content: "\f163"; }
.icon-screaming:before { content: "\f164"; }
.icon-meditation:before { content: "\f165"; }
.icon-belt-buckles:before { content: "\f166"; }
.icon-spiked-mace:before { content: "\f167"; }
.icon-totem-head:before { content: "\f168"; }
.icon-horse-head:before { content: "\f169"; }
.icon-spiked-tentacle:before { content: "\f16a"; }
.icon-comb:before { content: "\f16b"; }
.icon-energise:before { content: "\f16c"; }
.icon-coma:before { content: "\f16d"; }
.icon-honeycomb:before { content: "\f16e"; }
.icon-cobweb:before { content: "\f16f"; }
.icon-syringe:before { content: "\f170"; }
.icon-pyromaniac:before { content: "\f171"; }
.icon-tooth:before { content: "\f172"; }
.icon-ice-shield:before { content: "\f173"; }
.icon-angler-fish:before { content: "\f174"; }
.icon-laser-blast:before { content: "\f175"; }
.icon-muscle-fat:before { content: "\f176"; }
.icon-spray:before { content: "\f177"; }
.icon-evil-moon:before { content: "\f178"; }
.icon-spectacle-lenses:before { content: "\f179"; }
.icon-dragonfly:before { content: "\f17a"; }
.icon-tentacle-strike:before { content: "\f17b"; }
.icon-lightning-frequency:before { content: "\f17c"; }
.icon-hanging-spider:before { content: "\f17d"; }
.icon-tear-tracks:before { content: "\f17e"; }
.icon-fire-axe:before { content: "\f17f"; }
.icon-grasping-claws:before { content: "\f180"; }
.icon-broken-skull:before { content: "\f181"; }
.icon-coffin:before { content: "\f182"; }
.icon-grenade:before { content: "\f183"; }
.icon-sonic-shout:before { content: "\f184"; }
.icon-behold:before { content: "\f185"; }
.icon-bullets:before { content: "\f186"; }
.icon-ram:before { content: "\f187"; }
.icon-pouring-chalice:before { content: "\f188"; }
.icon-ribbon:before { content: "\f189"; }
.icon-scarecrow:before { content: "\f18a"; }
.icon-cogsplosion:before { content: "\f18b"; }
.icon-fleshy-mass:before { content: "\f18c"; }
.icon-frozen-arrow:before { content: "\f18d"; }
.icon-pizza-cutter:before { content: "\f18e"; }
.icon-laurels:before { content: "\f18f"; }
.icon-life-tap:before { content: "\f190"; }
.icon-fruiting:before { content: "\f191"; }
.icon-hydra:before { content: "\f192"; }
.icon-squid:before { content: "\f193"; }
.icon-dead-wood:before { content: "\f194"; }
.icon-metal-disc:before { content: "\f195"; }
.icon-eruption:before { content: "\f196"; }
.icon-lightning-shield:before { content: "\f197"; }
.icon-ankh:before { content: "\f198"; }
.icon-death-zone:before { content: "\f199"; }
.icon-high-shot:before { content: "\f19a"; }
.icon-eyedropper:before { content: "\f19b"; }
.icon-earth-spit:before { content: "\f19c"; }
.icon-quill-ink:before { content: "\f19d"; }
.icon-time-bomb:before { content: "\f19e"; }
.icon-eyestalk:before { content: "\f19f"; }
.icon-broken-shield:before { content: "\f1a0"; }
.icon-lightning-bow:before { content: "\f1a1"; }
.icon-missile-mech:before { content: "\f1a2"; }
.icon-galleon:before { content: "\f1a3"; }
.icon-fairy-wand:before { content: "\f1a4"; }
.icon-knife-fork:before { content: "\f1a5"; }
.icon-elderberry:before { content: "\f1a6"; }
.icon-deathcab:before { content: "\f1a7"; }
.icon-chemical-tank:before { content: "\f1a8"; }
.icon-crystal-shine:before { content: "\f1a9"; }
.icon-staryu:before { content: "\f1aa"; }
.icon-book-cover:before { content: "\f1ab"; }
.icon-hatchets:before { content: "\f1ac"; }
.icon-pie-slice:before { content: "\f1ad"; }
.icon-saw-claw:before { content: "\f1ae"; }
.icon-bird-twitter:before { content: "\f1af"; }
.icon-quake-stomp:before { content: "\f1b0"; }
.icon-striking-balls:before { content: "\f1b1"; }
.icon-bud:before { content: "\f1b2"; }
.icon-suckered-tentacle:before { content: "\f1b3"; }
.icon-parmecia:before { content: "\f1b4"; }
.icon-hound:before { content: "\f1b5"; }
.icon-heart-organ:before { content: "\f1b6"; }
.icon-half-heart:before { content: "\f1b7"; }
.icon-radar-dish:before { content: "\f1b8"; }
.icon-temptation:before { content: "\f1b9"; }
.icon-falling-leaf:before { content: "\f1ba"; }
.icon-mad-scientist:before { content: "\f1bb"; }
.icon-black-bar:before { content: "\f1bc"; }
.icon-screwdriver:before { content: "\f1bd"; }
.icon-dripping-blade:before { content: "\f1be"; }
.icon-hypersonic-bolt:before { content: "\f1bf"; }
.icon-gunshot:before { content: "\f1c0"; }
.icon-raven:before { content: "\f1c1"; }
.icon-compass:before { content: "\f1c2"; }
.icon-web-spit:before { content: "\f1c3"; }
.icon-vintage-robot:before { content: "\f1c4"; }
.icon-sands-of-time:before { content: "\f1c5"; }
.icon-crowned-skull:before { content: "\f1c6"; }
.icon-jetpack:before { content: "\f1c7"; }
.icon-metal-hand:before { content: "\f1c8"; }
.icon-drama-masks:before { content: "\f1c9"; }
.icon-parrot-head:before { content: "\f1ca"; }
.icon-surprised-skull:before { content: "\f1cb"; }
.icon-techno-heart:before { content: "\f1cc"; }
.icon-ouroboros:before { content: "\f1cd"; }
.icon-ringing-bell:before { content: "\f1ce"; }
.icon-crow-dive:before { content: "\f1cf"; }
.icon-shield-reflect:before { content: "\f1d0"; }
.icon-magic-swirl:before { content: "\f1d1"; }
.icon-hot-spices:before { content: "\f1d2"; }
.icon-paranoia:before { content: "\f1d3"; }
.icon-crab:before { content: "\f1d4"; }
.icon-goo-spurt:before { content: "\f1d5"; }
.icon-bleeding-heart:before { content: "\f1d6"; }
.icon-flame-tunnel:before { content: "\f1d7"; }
.icon-paper-lantern:before { content: "\f1d8"; }
.icon-razor-blade:before { content: "\f1d9"; }
.icon-robot-golem:before { content: "\f1da"; }
.icon-wrapped-sweet:before { content: "\f1db"; }
.icon-pretty-fangs:before { content: "\f1dc"; }
.icon-gamepad-cross:before { content: "\f1dd"; }
.icon-spatter:before { content: "\f1de"; }
.icon-incisors:before { content: "\f1df"; }
.icon-rune-sword:before { content: "\f1e0"; }
.icon-cracked-saber:before { content: "\f1e1"; }
.icon-cannister:before { content: "\f1e2"; }
.icon-burning-eye:before { content: "\f1e3"; }
.icon-salamander:before { content: "\f1e4"; }
.icon-pirate-grave:before { content: "\f1e5"; }
.icon-decapitation:before { content: "\f1e6"; }
.icon-cyclops:before { content: "\f1e7"; }
.icon-treasure-map:before { content: "\f1e8"; }
.icon-stag-head:before { content: "\f1e9"; }
.icon-key:before { content: "\f1ea"; }
.icon-divert:before { content: "\f1eb"; }
.icon-fire-bowl:before { content: "\f1ec"; }
.icon-magnifying-glass:before { content: "\f1ed"; }
.icon-back-forth:before { content: "\f1ee"; }
.icon-sword-smithing:before { content: "\f1ef"; }
.icon-hidden:before { content: "\f1f0"; }
.icon-blade-fall:before { content: "\f1f1"; }
.icon-backstab:before { content: "\f1f2"; }
.icon-foot-trip:before { content: "\f1f3"; }
.icon-crab-claw:before { content: "\f1f4"; }
.icon-spiral-arrow:before { content: "\f1f5"; }
.icon-rogue:before { content: "\f1f6"; }
.icon-sad-crab:before { content: "\f1f7"; }
.icon-rss:before { content: "\f1f8"; }
.icon-linked-rings:before { content: "\f1f9"; }
.icon-droplets:before { content: "\f1fa"; }
.icon-gems:before { content: "\f1fb"; }
.icon-lyre:before { content: "\f1fc"; }
.icon-tinker:before { content: "\f1fd"; }
.icon-groundbreaker:before { content: "\f1fe"; }
.icon-three-leaves:before { content: "\f1ff"; }
.icon-earth-crack:before { content: "\f200"; }
.icon-crags:before { content: "\f201"; }
.icon-double-quaver:before { content: "\f202"; }
.icon-pawprint:before { content: "\f203"; }
.icon-holy-symbol:before { content: "\f204"; }
.icon-biohazard:before { content: "\f205"; }
.icon-hunting-horn:before { content: "\f206"; }
.icon-umbrella:before { content: "\f207"; }
.icon-spectacles:before { content: "\f208"; }
.icon-anatomy:before { content: "\f209"; }
.icon-spill:before { content: "\f20a"; }
.icon-shark-jaws:before { content: "\f20b"; }
.icon-stigmata:before { content: "\f20c"; }
.icon-distraction:before { content: "\f20d"; }
.icon-open-book:before { content: "\f20e"; }
.icon-bird-mask:before { content: "\f20f"; }
.icon-boar-tusks:before { content: "\f210"; }
.icon-microchip:before { content: "\f211"; }
.icon-bolt-shield:before { content: "\f212"; }
.icon-snowing:before { content: "\f213"; }
.icon-cut-palm:before { content: "\f214"; }
.icon-brain:before { content: "\f215"; }
.icon-impact-point:before { content: "\f216"; }
.icon-on-target:before { content: "\f217"; }
.icon-candle-flame:before { content: "\f218"; }
.icon-sliced-bread:before { content: "\f219"; }
.icon-lamellar:before { content: "\f21a"; }
.icon-croc-jaws:before { content: "\f21b"; }
.icon-mouth-watering:before { content: "\f21c"; }
.icon-scalpel:before { content: "\f21d"; }
.icon-shard-sword:before { content: "\f21e"; }
.icon-wolf-howl:before { content: "\f21f"; }
.icon-cloack-dagger:before { content: "\f220"; }
.icon-steelwing-emblem:before { content: "\f221"; }
.icon-kindle:before { content: "\f222"; }
.icon-love-howl:before { content: "\f223"; }
.icon-sword-break:before { content: "\f224"; }
.icon-sparkling-sabre:before { content: "\f225"; }
.icon-handcuffs:before { content: "\f226"; }
.icon-twister:before { content: "\f227"; }
.icon-nailed-head:before { content: "\f228"; }
.icon-flame-spin:before { content: "\f229"; }
.icon-lightning-helix:before { content: "\f22a"; }
.icon-curled-tentacle:before { content: "\f22b"; }
.icon-pincers:before { content: "\f22c"; }
.icon-spinal-coil:before { content: "\f22d"; }
.icon-worried-eyes:before { content: "\f22e"; }
.icon-skeleton-inside:before { content: "\f22f"; }
.icon-paper-bomb:before { content: "\f230"; }
.icon-lizardman:before { content: "\f231"; }
.icon-serrated-slash:before { content: "\f232"; }
.icon-blade-bite:before { content: "\f233"; }
.icon-riot-shield:before { content: "\f234"; }
.icon-teapot:before { content: "\f235"; }
.icon-law-star:before { content: "\f236"; }
.icon-honeypot:before { content: "\f237"; }
.icon-spinning-sword:before { content: "\f238"; }
.icon-tick:before { content: "\f239"; }
.icon-dinosaur-rex:before { content: "\f23a"; }
.icon-vine-flower:before { content: "\f23b"; }
.icon-thrown-charcoal:before { content: "\f23c"; }
.icon-barbed-arrow:before { content: "\f23d"; }
.icon-quicksand:before { content: "\f23e"; }
.icon-six-eyes:before { content: "\f23f"; }
.icon-robe:before { content: "\f240"; }
.icon-monkey:before { content: "\f241"; }
.icon-star-swirl:before { content: "\f242"; }
.icon-heartburn:before { content: "\f243"; }
.icon-silence:before { content: "\f244"; }
.icon-third-eye:before { content: "\f245"; }
.icon-scorpion-tail:before { content: "\f246"; }
.icon-gears:before { content: "\f247"; }
.icon-cluster-bomb:before { content: "\f248"; }
.icon-frankenstein-creature:before { content: "\f249"; }
.icon-zigzag-leaf:before { content: "\f24a"; }
.icon-cut-diamond:before { content: "\f24b"; }
.icon-folded-paper:before { content: "\f24c"; }
.icon-shattered-glass:before { content: "\f24d"; }
.icon-sword-hilt:before { content: "\f24e"; }
.icon-bandaged:before { content: "\f24f"; }
.icon-thrown-spear:before { content: "\f250"; }
.icon-oak:before { content: "\f251"; }
.icon-chicken-leg:before { content: "\f252"; }
.icon-meteor-impact:before { content: "\f253"; }
.icon-pummeled:before { content: "\f254"; }
.icon-skeleton-key:before { content: "\f255"; }
.icon-flaming-arrow:before { content: "\f256"; }
.icon-snowflake-2:before { content: "\f257"; }
.icon-relic-blade:before { content: "\f258"; }
.icon-charm:before { content: "\f259"; }
.icon-gaze:before { content: "\f25a"; }
.icon-mountaintop:before { content: "\f25b"; }
.icon-profit:before { content: "\f25c"; }
.icon-volcano:before { content: "\f25d"; }
.icon-burning-meteor:before { content: "\f25e"; }
.icon-demolish:before { content: "\f25f"; }
.icon-broadhead-arrow:before { content: "\f260"; }
.icon-papers:before { content: "\f261"; }
.icon-poison-bottle:before { content: "\f262"; }
.icon-tron-arrow:before { content: "\f263"; }
.icon-ringed-planet:before { content: "\f264"; }
.icon-hospital-cross:before { content: "\f265"; }
.icon-vine-whip:before { content: "\f266"; }
.icon-halberd-shuriken:before { content: "\f267"; }
.icon-campfire:before { content: "\f268"; }
.icon-erlenmeyer:before { content: "\f269"; }
.icon-back-pain:before { content: "\f26a"; }
.icon-stone-tablet:before { content: "\f26b"; }
.icon-eye-shield:before { content: "\f26c"; }
.icon-bird-claw:before { content: "\f26d"; }
.icon-spade:before { content: "\f26e"; }
.icon-edged-shield:before { content: "\f26f"; }
.icon-curling-vines:before { content: "\f270"; }
.icon-splurt:before { content: "\f271"; }
.icon-evil-tree:before { content: "\f272"; }
.icon-ubisoft-sun:before { content: "\f273"; }
.icon-meat-hook:before { content: "\f274"; }
.icon-barefoot:before { content: "\f275"; }
.icon-spears:before { content: "\f276"; }
.icon-wasp-sting:before { content: "\f277"; }
.icon-wolverine-claws:before { content: "\f278"; }
.icon-icebergs:before { content: "\f279"; }
.icon-ghost:before { content: "\f27a"; }
.icon-arrow-cluster:before { content: "\f27b"; }
.icon-pill-drop:before { content: "\f27c"; }
.icon-tribal-mask:before { content: "\f27d"; }
.icon-wyvern:before { content: "\f27e"; }
.icon-arrows-shield:before { content: "\f27f"; }
.icon-stone-spear:before { content: "\f280"; }
.icon-iron-mask:before { content: "\f281"; }
.icon-needle-drill:before { content: "\f282"; }
.icon-sewing-needle:before { content: "\f283"; }
.icon-angel-outfit:before { content: "\f284"; }
.icon-hood:before { content: "\f285"; }
.icon-sword-clash:before { content: "\f286"; }
.icon-daggers:before { content: "\f287"; }
.icon-splash:before { content: "\f288"; }
.icon-drop:before { content: "\f289"; }
.icon-laser-warning:before { content: "\f28a"; }
.icon-burning-tree:before { content: "\f28b"; }
.icon-duality:before { content: "\f28c"; }
.icon-crossed-chains:before { content: "\f28d"; }
.icon-gecko:before { content: "\f28e"; }
.icon-daisy:before { content: "\f28f"; }
.icon-top-hat:before { content: "\f290"; }
.icon-brainstorm:before { content: "\f291"; }
.icon-bridge:before { content: "\f292"; }
.icon-magic-lamp:before { content: "\f293"; }
.icon-layered-armor:before { content: "\f294"; }
.icon-arson:before { content: "\f295"; }
.icon-moon:before { content: "\f296"; }
.icon-tesla-turret:before { content: "\f297"; }
.icon-internal-injury:before { content: "\f298"; }
.icon-pirate-skull:before { content: "\f299"; }
.icon-burst-blob:before { content: "\f29a"; }
.icon-batwing-emblem:before { content: "\f29b"; }
.icon-cowled:before { content: "\f29c"; }
.icon-water-bolt:before { content: "\f29d"; }
.icon-life-in-the-balance:before { content: "\f29e"; }
.icon-fluffy-wing:before { content: "\f29f"; }
.icon-jigsaw-box:before { content: "\f2a0"; }
.icon-shatter:before { content: "\f2a1"; }
.icon-barbed-spear:before { content: "\f2a2"; }
.icon-drowning:before { content: "\f2a3"; }
.icon-spotted-wound:before { content: "\f2a4"; }
.icon-shattered-sword:before { content: "\f2a5"; }
.icon-strafe:before { content: "\f2a6"; }
.icon-grim-reaper:before { content: "\f2a7"; }
.icon-fireball:before { content: "\f2a8"; }
.icon-scalpel-strike:before { content: "\f2a9"; }
.icon-target-arrows:before { content: "\f2aa"; }
.icon-egg-clutch:before { content: "\f2ab"; }
.icon-target-shot:before { content: "\f2ac"; }
.icon-puppet:before { content: "\f2ad"; }
.icon-spiral-thrust:before { content: "\f2ae"; }
.icon-omega:before { content: "\f2af"; }
.icon-implosion:before { content: "\f2b0"; }
.icon-thunderball:before { content: "\f2b1"; }
.icon-super-mushroom:before { content: "\f2b2"; }
.icon-radial-balance:before { content: "\f2b3"; }
.icon-trident:before { content: "\f2b4"; }
.icon-pierced-heart:before { content: "\f2b5"; }
.icon-halberd:before { content: "\f2b6"; }
.icon-candlebright:before { content: "\f2b7"; }
.icon-tyre:before { content: "\f2b8"; }
.icon-voodoo-doll:before { content: "\f2b9"; }
.icon-spoon:before { content: "\f2ba"; }
.icon-mail-shirt:before { content: "\f2bb"; }
.icon-tree-branch:before { content: "\f2bc"; }
.icon-snake:before { content: "\f2bd"; }
.icon-nailed-foot:before { content: "\f2be"; }
.icon-leaf-skeleton:before { content: "\f2bf"; }
.icon-sword-spin:before { content: "\f2c0"; }
.icon-unstable-projectile:before { content: "\f2c1"; }
.icon-battle-gear:before { content: "\f2c2"; }
.icon-arcing-bolt:before { content: "\f2c3"; }
.icon-flaming-trident:before { content: "\f2c4"; }
.icon-snowman:before { content: "\f2c5"; }
.icon-heart-bottle:before { content: "\f2c6"; }
.icon-droplet-splash:before { content: "\f2c7"; }
.icon-curly-wing:before { content: "\f2c8"; }
.icon-bat-blade:before { content: "\f2c9"; }
.icon-laurel-crown:before { content: "\f2ca"; }
.icon-drink-me:before { content: "\f2cb"; }
.icon-punch:before { content: "\f2cc"; }
.icon-hammer-drop:before { content: "\f2cd"; }
.icon-guillotine:before { content: "\f2ce"; }
.icon-pollen-dust:before { content: "\f2cf"; }
.icon-overdose:before { content: "\f2d0"; }
.icon-mountains:before { content: "\f2d1"; }
.icon-sattelite:before { content: "\f2d2"; }
.icon-artificial-hive:before { content: "\f2d3"; }
.icon-rolling-bomb:before { content: "\f2d4"; }
.icon-rainbow-star:before { content: "\f2d5"; }
.icon-molecule:before { content: "\f2d6"; }
.icon-slavery-whip:before { content: "\f2d7"; }
.icon-beer-stein:before { content: "\f2d8"; }
.icon-smoking-finger:before { content: "\f2d9"; }
.icon-apple-maggot:before { content: "\f2da"; }
.icon-armadillo-tail:before { content: "\f2db"; }
.icon-wave-strike:before { content: "\f2dc"; }
.icon-swan:before { content: "\f2dd"; }
.icon-swap-bag:before { content: "\f2de"; }
.icon-sparky-bomb:before { content: "\f2df"; }
.icon-ice-bolt:before { content: "\f2e0"; }
.icon-magic-portal:before { content: "\f2e1"; }
.icon-vile-fluid:before { content: "\f2e2"; }
.icon-gooey-sword:before { content: "\f2e3"; }
.icon-bookmark:before { content: "\f2e4"; }
.icon-broken-heart:before { content: "\f2e5"; }
.icon-spartan:before { content: "\f2e6"; }
.icon-wooden-door:before { content: "\f2e7"; }
.icon-hourglass:before { content: "\f2e8"; }
.icon-jawbone:before { content: "\f2e9"; }
.icon-bowie-knife:before { content: "\f2ea"; }
.icon-snake-totem:before { content: "\f2eb"; }
.icon-crossed-bones:before { content: "\f2ec"; }
.icon-eclipse:before { content: "\f2ed"; }
.icon-frostfire:before { content: "\f2ee"; }
.icon-leather-boot:before { content: "\f2ef"; }
.icon-croc-sword:before { content: "\f2f0"; }
.icon-supersonic-arrow:before { content: "\f2f1"; }
.icon-bull:before { content: "\f2f2"; }
.icon-pointy-hat:before { content: "\f2f3"; }
.icon-triple-skulls:before { content: "\f2f4"; }
.icon-smitten:before { content: "\f2f5"; }
.icon-thorny-vine:before { content: "\f2f6"; }
.icon-william-tell:before { content: "\f2f7"; }
.icon-run:before { content: "\f2f8"; }
.icon-lob-arrow:before { content: "\f2f9"; }
.icon-scissors:before { content: "\f2fa"; }
.icon-orbital:before { content: "\f2fb"; }
.icon-archery-target:before { content: "\f2fc"; }
.icon-domino-mask:before { content: "\f2fd"; }
.icon-cannon-ball:before { content: "\f2fe"; }
.icon-machete:before { content: "\f2ff"; }
.icon-ice-bomb:before { content: "\f300"; }
.icon-brain-stem:before { content: "\f301"; }
.icon-unlit-candelabra:before { content: "\f302"; }
.icon-bottle-vapors:before { content: "\f303"; }
.icon-journey:before { content: "\f304"; }
.icon-mace-head:before { content: "\f305"; }
.icon-parachute:before { content: "\f306"; }
.icon-squid-head:before { content: "\f307"; }
.icon-guarded-tower:before { content: "\f308"; }
.icon-missile-swarm:before { content: "\f309"; }
.icon-poison-gas:before { content: "\f30a"; }
.icon-sprint:before { content: "\f30b"; }
.icon-love-song:before { content: "\f30c"; }
.icon-steel-claws:before { content: "\f30d"; }
.icon-locked-chest:before { content: "\f30e"; }
.icon-glass-shot:before { content: "\f30f"; }
.icon-apple-seeds:before { content: "\f310"; }
.icon-ice-spear:before { content: "\f311"; }
.icon-grab:before { content: "\f312"; }
.icon-boxing-glove:before { content: "\f313"; }
.icon-stick-splitting:before { content: "\f314"; }
.icon-dripping-stone:before { content: "\f315"; }
.icon-horned-helm:before { content: "\f316"; }
.icon-stiletto:before { content: "\f317"; }
.icon-split-cross:before { content: "\f318"; }
.icon-rally-the-troops:before { content: "\f319"; }
.icon-dna1:before { content: "\f31a"; }
.icon-shouting:before { content: "\f31b"; }
.icon-masked-spider:before { content: "\f31c"; }
.icon-tread:before { content: "\f31d"; }
.icon-quick-slash:before { content: "\f31e"; }
.icon-powder:before { content: "\f31f"; }
.icon-wavy-itinerary:before { content: "\f320"; }
.icon-auto-repair:before { content: "\f321"; }
.icon-reaper-scythe:before { content: "\f322"; }
.icon-hydra-shot:before { content: "\f323"; }
.icon-jigsaw-piece:before { content: "\f324"; }
.icon-time-trap:before { content: "\f325"; }
.icon-acorn:before { content: "\f326"; }
.icon-animal-skull:before { content: "\f327"; }
.icon-dinosaur-egg:before { content: "\f328"; }
.icon-cargo-crane:before { content: "\f329"; }
.icon-cold-heart:before { content: "\f32a"; }
.icon-king:before { content: "\f32b"; }
.icon-molotov:before { content: "\f32c"; }
.icon-cloak-dagger:before { content: "\f32d"; }
.icon-shining-sword:before { content: "\f32e"; }
.icon-white-tower:before { content: "\f32f"; }
.icon-dripping-knife:before { content: "\f330"; }
.icon-dinosaur-bones:before { content: "\f331"; }
.icon-energy-sword:before { content: "\f332"; }
.icon-tesla-coil:before { content: "\f333"; }
.icon-whiplash:before { content: "\f334"; }
.icon-sticking-plaster:before { content: "\f335"; }
.icon-mining:before { content: "\f336"; }
.icon-prayer:before { content: "\f337"; }
.icon-spiked-snail:before { content: "\f338"; }
.icon-missile-pod:before { content: "\f339"; }
.icon-breastplate:before { content: "\f33a"; }
.icon-kitchen-knives:before { content: "\f33b"; }
.icon-mesh-ball:before { content: "\f33c"; }
.icon-footprint:before { content: "\f33d"; }
.icon-autogun:before { content: "\f33e"; }
.icon-crowned-heart:before { content: "\f33f"; }
.icon-boot-prints:before { content: "\f340"; }
.icon-curled-leaf:before { content: "\f341"; }
.icon-explosive-materials:before { content: "\f342"; }
.icon-stone-sphere:before { content: "\f343"; }
.icon-toad-teeth:before { content: "\f344"; }
.icon-snail:before { content: "\f345"; }
.icon-desert-skull:before { content: "\f346"; }
.icon-medal:before { content: "\f347"; }
.icon-clockwork:before { content: "\f348"; }
.icon-perfume-bottle:before { content: "\f349"; }
.icon-eskimo:before { content: "\f34a"; }
.icon-radioactive:before { content: "\f34b"; }
.icon-defibrilate:before { content: "\f34c"; }
.icon-bat-wing:before { content: "\f34d"; }
.icon-fire-ring:before { content: "\f34e"; }
.icon-despair:before { content: "\f34f"; }
.icon-bugle-call:before { content: "\f350"; }
.icon-fossil:before { content: "\f351"; }
.icon-gas-mask:before { content: "\f352"; }
.icon-bulb:before { content: "\f353"; }
.icon-bloody-stash:before { content: "\f354"; }
.icon-bone-knife:before { content: "\f355"; }
.icon-roast-chicken:before { content: "\f356"; }
.icon-corked-tube:before { content: "\f357"; }
.icon-wave-crest:before { content: "\f358"; }
.icon-bombing-run:before { content: "\f359"; }
.icon-bestial-fangs:before { content: "\f35a"; }
.icon-scarab-beetle:before { content: "\f35b"; }
.icon-magic-palm:before { content: "\f35c"; }
.icon-james-bond-aperture:before { content: "\f35d"; }
.icon-spade-skull:before { content: "\f35e"; }
.icon-wrecking-ball:before { content: "\f35f"; }
.icon-wrapped-heart:before { content: "\f360"; }
.icon-wizard-staff:before { content: "\f361"; }
.icon-palm:before { content: "\f362"; }
.icon-flash-grenade:before { content: "\f363"; }
.icon-flying-dagger:before { content: "\f364"; }
.icon-spinning-blades:before { content: "\f365"; }
.icon-clover:before { content: "\f366"; }
.icon-gem-chain:before { content: "\f367"; }
.icon-mantrap:before { content: "\f368"; }
.icon-glowing-hands:before { content: "\f369"; }
.icon-atomic-slashes:before { content: "\f36a"; }
.icon-crystalize:before { content: "\f36b"; }
.icon-scales:before { content: "\f36c"; }
.icon-diving-dagger:before { content: "\f36d"; }
.icon-scallop:before { content: "\f36e"; }
.icon-magic-shield:before { content: "\f36f"; }
.icon-heavy-helm:before { content: "\f370"; }
.icon-lotus:before { content: "\f371"; }
.icon-ribcage:before { content: "\f372"; }
.icon-frozen-orb:before { content: "\f373"; }
.icon-ammonite:before { content: "\f374"; }
.icon-stomp:before { content: "\f375"; }
.icon-coiling-curl:before { content: "\f376"; }
.icon-over-infinity:before { content: "\f377"; }
.icon-shiny-apple:before { content: "\f378"; }
.icon-beard:before { content: "\f379"; }
.icon-inner-self:before { content: "\f37a"; }
.icon-transfuse:before { content: "\f37b"; }
.icon-recycle:before { content: "\f37c"; }
.icon-skull-mask:before { content: "\f37d"; }
.icon-boot-stomp:before { content: "\f37e"; }
.icon-stone-throne:before { content: "\f37f"; }
.icon-magnet-blast:before { content: "\f380"; }
.icon-winged-arrow:before { content: "\f381"; }
.icon-shining-heart:before { content: "\f382"; }
.icon-gear-hammer:before { content: "\f383"; }
.icon-feather:before { content: "\f384"; }
.icon-lightning-arc:before { content: "\f385"; }
.icon-focused-lightning:before { content: "\f386"; }
.icon-sea-serpent:before { content: "\f387"; }
.icon-bookmarklet:before { content: "\f388"; }
.icon-mineral-heart:before { content: "\f389"; }
.icon-bull-horns:before { content: "\f38a"; }
.icon-rocket-flight:before { content: "\f38b"; }
.icon-morbid-humour:before { content: "\f38c"; }
.icon-alien-skull:before { content: "\f38d"; }
.icon-white-cat:before { content: "\f38e"; }
.icon-chemical-bolt:before { content: "\f38f"; }
.icon-internal-organ:before { content: "\f390"; }
.icon-dead-eye:before { content: "\f391"; }
.icon-tripwire:before { content: "\f392"; }
.icon-fanged-skull:before { content: "\f393"; }
.icon-dark-squad:before { content: "\f394"; }
.icon-tombstone:before { content: "\f395"; }
.icon-paw:before { content: "\f396"; }
.icon-candle-skull:before { content: "\f397"; }
.icon-broken-bone:before { content: "\f398"; }
.icon-haunting:before { content: "\f399"; }
.icon-snowflake-1:before { content: "\f39a"; }
.icon-spanner:before { content: "\f39b"; }
.icon-spiral-bloom:before { content: "\f39c"; }
.icon-conversation:before { content: "\f39d"; }
.icon-juggler:before { content: "\f39e"; }
.icon-bolter-gun:before { content: "\f39f"; }
.icon-muscle-up:before { content: "\f3a0"; }
.icon-quill:before { content: "\f3a1"; }
.icon-night-sky:before { content: "\f3a2"; }
.icon-pawn:before { content: "\f3a3"; }
.icon-burning-dot:before { content: "\f3a4"; }
.icon-cool-spices:before { content: "\f3a5"; }
.icon-owl:before { content: "\f3a6"; }
.icon-spiral-shell:before { content: "\f3a7"; }
.icon-flower-pot:before { content: "\f3a8"; }
.icon-land-mine:before { content: "\f3a9"; }
.icon-broken-bottle:before { content: "\f3aa"; }
.icon-magnet:before { content: "\f3ab"; }
.icon-snake-bite:before { content: "\f3ac"; }
.icon-sword-slice:before { content: "\f3ad"; }
.icon-fire-shield:before { content: "\f3ae"; }
.icon-bottom-right-3d-arrow:before { content: "\f3af"; }
.icon-ace:before { content: "\f3b0"; }
.icon-engagement-ring:before { content: "\f3b1"; }
.icon-blunderbuss:before { content: "\f3b2"; }
.icon-gold-scarab:before { content: "\f3b3"; }
.icon-knife-thrust:before { content: "\f3b4"; }
.icon-mucous-pillar:before { content: "\f3b5"; }
.icon-bleeding-eye:before { content: "\f3b6"; }
.icon-chained-heart:before { content: "\f3b7"; }
.icon-burning-passion:before { content: "\f3b8"; }
.icon-heart-inside:before { content: "\f3b9"; }
.icon-uncertainty:before { content: "\f3ba"; }
.icon-clout:before { content: "\f3bb"; }
.icon-radar-sweep:before { content: "\f3bc"; }
.icon-carillon:before { content: "\f3bd"; }
.icon-steeltoe-boots:before { content: "\f3be"; }
.icon-batteries:before { content: "\f3bf"; }
.icon-knapsack:before { content: "\f3c0"; }
.icon-battered-axe:before { content: "\f3c1"; }
.icon-gem-pendant:before { content: "\f3c2"; }
.icon-winged-emblem:before { content: "\f3c3"; }
.icon-drill:before { content: "\f3c4"; }
.icon-acid-blob:before { content: "\f3c5"; }
.icon-gooey-eyed-sun:before { content: "\f3c6"; }
.icon-two-shadows:before { content: "\f3c7"; }
.icon-bubble-field:before { content: "\f3c8"; }
.icon-skull-bolt:before { content: "\f3c9"; }
.icon-bottled-bolt:before { content: "\f3ca"; }
.icon-snatch:before { content: "\f3cb"; }
.icon-hazard-sign:before { content: "\f3cc"; }
.icon-sunbeams:before { content: "\f3cd"; }
.icon-unlit-bomb:before { content: "\f3ce"; }
.icon-dna2:before { content: "\f3cf"; }
.icon-wheat:before { content: "\f3d0"; }
.icon-goo-explosion:before { content: "\f3d1"; }
.icon-dragon-breath:before { content: "\f3d2"; }
.icon-firework-rocket:before { content: "\f3d3"; }
.icon-skull-in-jar:before { content: "\f3d4"; }
.icon-wingfoot:before { content: "\f3d5"; }
.icon-stitched-wound:before { content: "\f3d6"; }
.icon-caldera:before { content: "\f3d7"; }
.icon-fairy:before { content: "\f3d8"; }
.icon-globe:before { content: "\f3d9"; }
.icon-nothing-to-say:before { content: "\f3da"; }
.icon-fox-head:before { content: "\f3db"; }
.icon-space-suit:before { content: "\f3dc"; }
.icon-imp:before { content: "\f3dd"; }
.icon-cracked-shield:before { content: "\f3de"; }
.icon-winged-sword:before { content: "\f3df"; }
.icon-jellyfish:before { content: "\f3e0"; }
.icon-miracle-medecine:before { content: "\f3e1"; }
.icon-raining:before { content: "\f3e2"; }
.icon-centipede:before { content: "\f3e3"; }
.icon-anchor:before { content: "\f3e4"; }
.icon-fountain-pen:before { content: "\f3e5"; }
.icon-cog:before { content: "\f3e6"; }
.icon-disintegrate:before { content: "\f3e7"; }
.icon-floating-crystal:before { content: "\f3e8"; }
.icon-fire-bottle:before { content: "\f3e9"; }
.icon-castle:before { content: "\f3ea"; }
.icon-dove:before { content: "\f3eb"; }
.icon-frozen-block:before { content: "\f3ec"; }
.icon-wine-glass:before { content: "\f3ed"; }
.icon-gooey-daemon:before { content: "\f3ee"; }
.icon-portculis:before { content: "\f3ef"; }
.icon-two-feathers:before { content: "\f3f0"; }
.icon-mushroom:before { content: "\f3f1"; }
.icon-fizzing-flask:before { content: "\f3f2"; }
.icon-lantern:before { content: "\f3f3"; }
.icon-balloons:before { content: "\f3f4"; }
.icon-book-storm:before { content: "\f3f5"; }
.icon-aerosol:before { content: "\f3f6"; }
.icon-spyglass:before { content: "\f3f7"; }
.icon-trousers:before { content: "\f3f8"; }
.icon-infested-mass:before { content: "\f3f9"; }
.icon-dig-dug:before { content: "\f3fa"; }
.icon-wing-cloak:before { content: "\f3fb"; }
.icon-rock:before { content: "\f3fc"; }
.icon-forward-field:before { content: "\f3fd"; }
.icon-thorned-arrow:before { content: "\f3fe"; }
.icon-scythe:before { content: "\f3ff"; }
.icon-crossed-claws:before { content: "\f400"; }
.icon-sharp-smile:before { content: "\f401"; }
.icon-sentry-gun:before { content: "\f402"; }
.icon-surprised:before { content: "\f403"; }
.icon-dervish-swords:before { content: "\f404"; }
.icon-spiked-collar:before { content: "\f405"; }
.icon-doctor-face:before { content: "\f406"; }
.icon-magic-gate:before { content: "\f407"; }
.icon-beetle-shell:before { content: "\f408"; }
.icon-heat-haze:before { content: "\f409"; }
.icon-headshot:before { content: "\f40a"; }
.icon-crossed-swords:before { content: "\f40b"; }
.icon-guitar:before { content: "\f40c"; }
.icon-gavel:before { content: "\f40d"; }
.icon-mushroom-cloud:before { content: "\f40e"; }
.icon-poker-hand:before { content: "\f40f"; }
.icon-mouse:before { content: "\f410"; }
.icon-ragged-wound:before { content: "\f411"; }
.icon-star-pupil:before { content: "\f412"; }
.icon-fire-wave:before { content: "\f413"; }
.icon-skull-signet:before { content: "\f414"; }
.icon-tied-scroll:before { content: "\f415"; }
.icon-gem-necklace:before { content: "\f416"; }
.icon-harpoon-trident:before { content: "\f417"; }
.icon-bone-gnawer:before { content: "\f418"; }
.icon-life-support:before { content: "\f419"; }
.icon-shining-claw:before { content: "\f41a"; }
.icon-hoof:before { content: "\f41b"; }
.icon-flaming-claw:before { content: "\f41c"; }
.icon-materials-science:before { content: "\f41d"; }
.icon-thrown-knife:before { content: "\f41e"; }
.icon-pointing:before { content: "\f41f"; }
.icon-insect-jaws:before { content: "\f420"; }
.icon-stone-tower:before { content: "\f421"; }
.icon-lever:before { content: "\f422"; }
.icon-transportation-rings:before { content: "\f423"; }
.icon-thor-fist:before { content: "\f424"; }
.icon-imprisoned:before { content: "\f425"; }
.icon-fist:before { content: "\f426"; }
.icon-trophy:before { content: "\f427"; }
.icon-flowers:before { content: "\f428"; }
.icon-energy-shield:before { content: "\f429"; }
.icon-circular-sawblade:before { content: "\f42a"; }
.icon-sonic-boom:before { content: "\f42b"; }
.icon-arrow-flights:before { content: "\f42c"; }
.icon-blackball:before { content: "\f42d"; }
.icon-light-bulb:before { content: "\f42e"; }
.icon-front-teeth:before { content: "\f42f"; }
.icon-crown:before { content: "\f430"; }
.icon-virus:before { content: "\f431"; }
.icon-gluttony:before { content: "\f432"; }
.icon-unfriendly-fire:before { content: "\f433"; }
.icon-turtle-shell:before { content: "\f434"; }
.icon-scorpion:before { content: "\f435"; }
.icon-fountain:before { content: "\f436"; }
.icon-anthem:before { content: "\f437"; }
.icon-shiny-purse:before { content: "\f438"; }
.icon-lizard-tongue:before { content: "\f439"; }
.icon-maggot:before { content: "\f43a"; }
.icon-teleport:before { content: "\f43b"; }
.icon-battle-axe:before { content: "\f43c"; }
.icon-shield-echoes:before { content: "\f43d"; }
.icon-trefoil-shuriken:before { content: "\f43e"; }
.icon-psychic-waves:before { content: "\f43f"; }
.icon-trade:before { content: "\f440"; }
.icon-skull-crossed-bones:before { content: "\f441"; }
.icon-stalagtite:before { content: "\f442"; }
.icon-wax-seal:before { content: "\f443"; }
.icon-flexible-star:before { content: "\f444"; }
.icon-walking-boot:before { content: "\f445"; }
.icon-goo-skull:before { content: "\f446"; }
.icon-rune-stone:before { content: "\f447"; }
.icon-cracked-mask:before { content: "\f448"; }
.icon-thorn-helix:before { content: "\f449"; }
.icon-turd:before { content: "\f44a"; }
.icon-needle-jaws:before { content: "\f44b"; }
.icon-bandage-roll:before { content: "\f44c"; }
.icon-lantern-flame:before { content: "\f44d"; }
.icon-spectre:before { content: "\f44e"; }
.icon-vanilla-flower:before { content: "\f44f"; }
.icon-triple-claws:before { content: "\f450"; }
.icon-dozen:before { content: "\f451"; }
.icon-plain-dagger:before { content: "\f452"; }
.icon-spiked-fence:before { content: "\f453"; }
.icon-turtle:before { content: "\f454"; }
.icon-letter-bomb:before { content: "\f455"; }
.icon-wood-axe:before { content: "\f456"; }
.icon-wooden-sign:before { content: "\f457"; }
.icon-cracked-glass:before { content: "\f458"; }
.icon-slashed-shield:before { content: "\f459"; }
.icon-dragon-head:before { content: "\f45a"; }
.icon-boiling-bubbles:before { content: "\f45b"; }
.icon-martini:before { content: "\f45c"; }
.icon-tank:before { content: "\f45d"; }
.icon-vine-leaf:before { content: "\f45e"; }
.icon-gibbet:before { content: "\f45f"; }
.icon-world:before { content: "\f460"; }
.icon-marrow-drain:before { content: "\f461"; }
.icon-field:before { content: "\f462"; }
.icon-mechanical-arm:before { content: "\f463"; }
.icon-shuriken:before { content: "\f464"; }
.icon-crossed-sabres:before { content: "\f465"; }
.icon-glass-heart:before { content: "\f466"; }
.icon-brandy-bottle:before { content: "\f467"; }
.icon-pumpkin-lantern:before { content: "\f468"; }
.icon-capitol:before { content: "\f469"; }
.icon-stone-block:before { content: "\f46a"; }
.icon-anvil-impact:before { content: "\f46b"; }
.icon-moebius-triangle:before { content: "\f46c"; }
.icon-crystal-eye:before { content: "\f46d"; }
.icon-architect-mask:before { content: "\f46e"; }
.icon-interdiction:before { content: "\f46f"; }
.icon-bolas:before { content: "\f470"; }
.icon-fishbone:before { content: "\f471"; }
.icon-barbed-wire:before { content: "\f472"; }
.icon-whip:before { content: "\f473"; }
.icon-sacrificial-dagger:before { content: "\f474"; }
.icon-ember-shot:before { content: "\f475"; }
.icon-ink-swirl:before { content: "\f476"; }
.icon-valley:before { content: "\f477"; }
.icon-open-wound:before { content: "\f478"; }
.icon-ninja-mask:before { content: "\f479"; }
.icon-lion:before { content: "\f47a"; }
.icon-static:before { content: "\f47b"; }
.icon-spotted-mushroom:before { content: "\f47c"; }
.icon-curvy-knife:before { content: "\f47d"; }
.icon-desk-lamp:before { content: "\f47e"; }
.icon-frog:before { content: "\f47f"; }
.icon-thunder-struck:before { content: "\f480"; }
.icon-beast-eye:before { content: "\f481"; }
.icon-afterburn:before { content: "\f482"; }
.icon-sleepy:before { content: "\f483"; }
.icon-trilobite:before { content: "\f484"; }
.icon-oppression:before { content: "\f485"; }
.icon-sprout:before { content: "\f486"; }
.icon-fire-punch:before { content: "\f487"; }
.icon-sing:before { content: "\f488"; }
.icon-lightning-storm:before { content: "\f489"; }
.icon-triple-needle:before { content: "\f48a"; }
.icon-heart-tower:before { content: "\f48b"; }
.icon-heavy-arrow:before { content: "\f48c"; }
.icon-candle-light:before { content: "\f48d"; }
.icon-chemical-drop:before { content: "\f48e"; }
.icon-padlock:before { content: "\f48f"; }
.icon-semi-closed-eye:before { content: "\f490"; }
.icon-skull-crack:before { content: "\f491"; }
.icon-gloop:before { content: "\f492"; }
.icon-vomiting:before { content: "\f493"; }
.icon-cheese-wedge:before { content: "\f494"; }
.icon-bee:before { content: "\f495"; }
.icon-minigun:before { content: "\f496"; }
.icon-flying-flag:before { content: "\f497"; }
.icon-terror:before { content: "\f498"; }
.icon-dragon-spiral:before { content: "\f499"; }
.icon-snow-bottle:before { content: "\f49a"; }
.icon-broken-tablet:before { content: "\f49b"; }
.icon-whirlwind:before { content: "\f49c"; }
.icon-embryo:before { content: "\f49d"; }
.icon-strong:before { content: "\f49e"; }
.icon-cartwheel:before { content: "\f49f"; }
.icon-three-keys:before { content: "\f4a0"; }
.icon-winged-shield:before { content: "\f4a1"; }
.icon-cannon-shot:before { content: "\f4a2"; }
.icon-arrowed:before { content: "\f4a3"; }
.icon-aura:before { content: "\f4a4"; }
.icon-scroll-unfurled:before { content: "\f4a5"; }
.icon-wavy-chains:before { content: "\f4a6"; }
.icon-cannon:before { content: "\f4a7"; }
.icon-brain-freeze:before { content: "\f4a8"; }
.icon-swallow:before { content: "\f4a9"; }
.icon-wildfires:before { content: "\f4aa"; }
.icon-minotaur:before { content: "\f4ab"; }
.icon-vulture:before { content: "\f4ac"; }
.icon-backup:before { content: "\f4ad"; }
.icon-octopus:before { content: "\f4ae"; }
.icon-fedora:before { content: "\f4af"; }
.icon-food-chain:before { content: "\f4b0"; }
.icon-hammer-nails:before { content: "\f4b1"; }
.icon-minions:before { content: "\f4b2"; }
.icon-sunrise:before { content: "\f4b3"; }
.icon-horned-skull:before { content: "\f4b4"; }
.icon-all-for-one:before { content: "\f4b5"; }
.icon-axe-swing:before { content: "\f4b6"; }
.icon-cauldron:before { content: "\f4b7"; }
.icon-cash:before { content: "\f4b8"; }
.icon-water-splash:before { content: "\f4b9"; }
.icon-crystal-growth:before { content: "\f4ba"; }
.icon-overdrive:before { content: "\f4bb"; }
.icon-fire-breath:before { content: "\f4bc"; }
.icon-sea-dragon:before { content: "\f4bd"; }
.icon-manacles:before { content: "\f4be"; }
.icon-crested-helmet:before { content: "\f4bf"; }
.icon-crystal-ball:before { content: "\f4c0"; }
.icon-crown-coin:before { content: "\f4c1"; }
.icon-coffee-mug:before { content: "\f4c2"; }
.icon-envelope:before { content: "\f4c3"; }
.icon-checked-shield:before { content: "\f4c4"; }
.icon-sword-in-stone:before { content: "\f4c5"; }
.icon-pierced-body:before { content: "\f4c6"; }
.icon-tattered-banner:before { content: "\f4c7"; }
.icon-crossed-pistols:before { content: "\f4c8"; }
.icon-plasma-bolt:before { content: "\f4c9"; }
.icon-skull-ring:before { content: "\f4ca"; }
.icon-pine-tree:before { content: "\f4cb"; }
.icon-feathered-wing:before { content: "\f4cc"; }
.icon-brass-eye:before { content: "\f4cd"; }
.icon-andromeda-chain:before { content: "\f4ce"; }
.icon-lips:before { content: "\f4cf"; }
.icon-burning-embers:before { content: "\f4d0"; }
.icon-sunken-eye:before { content: "\f4d1"; }
.icon-mirror-mirror:before { content: "\f4d2"; }
.icon-round-bottom-flask:before { content: "\f4d3"; }
.icon-ray-gun:before { content: "\f4d4"; }
.icon-test-tubes:before { content: "\f4d5"; }
